doctype html
html
  body(style='margin: 0;font-family: Tahoma;font-size: 1.2em;background-color: #ECF0F1;')
    header.text-center(style='padding: 1em;background-color: #34495E;margin-bottom: 1em;text-align: center;')
      .logo(style='max-width: 33.33%;')
        img(src='#{logo}')
    .body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #2C3E50;')
      h1(style='font-family: Palatino;font-size: 1.5em;') Hei, #{name}
      p(style="color: #34495E;")
        | Kiitos rekisteröitymisestä. Ole hyvä ja vahvista sähköpostiosoitteesi päästäksesi nollaamaan salasanasi tarvittaessa.
      a.reset-btn(href='#{hashLink}', style='color: #2980B9;display: block;text-align: center;text-decoration: none;padding: 0.5em;font-size: 1.2em;border: 5px solid #2980B9;border-radius: 3px;margin: 1em;margin-right: auto;margin-left: auto;') Vahvista sähköpostisi
      p(style="color: #34495E;")
        | Voit edelleen käyttää sivustoa vaikka et vahvistaisi sähköpostiosoitettasi, mutta emme voi lähettää sinulle sähköposteja.
      p.text-small.margin-2(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;margin-top: 2em;') Jos ei tehnyt tätä, ole hyvä ja 
      p.text-small(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;')
        a(href='mailto:#{returnEmail}?subject=I did not sign up at this site&body=Someone unauthorized signed up with my email.', style='color: #2980B9;') ilmoita tästä meille.
